<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="design-module">CABLE DESIGN MODULE</h2>
      <div class="table-container">
        <table class="table table-bordered mt-4">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let header of tableData.headers">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData.rows">
              <td *ngFor="let header of tableData.headers">{{ row[header] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row mt-3 p-5">
    <div class="col-11">
      <ul id="accordion" class="accordion">
        <li *ngFor="let item of data">
          <div (click)="toggleItem(item)" class="link">
            {{ item.name }}
            <i class="fa" [ngClass]="{'fa-plus': !item.expanded, 'fa-minus': item.expanded}" aria-hidden="true"></i>
          </div>
          <div *ngIf="item.expanded" class="accordion-content">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th *ngFor="let key of getKeys(item.values[0])">{{ key }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of item.values">
                  <td *ngFor="let pair of getKeyValuePairs(value)">
                    {{ pair.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>