.banner-img {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.container-fluid {
    overflow: hidden;
    padding: 0;
}

.card {
    width: 350px;
    height: 350px;
    top: 150px;
    left: 130px;
    position: relative;
}

.form-group {
    color: aqua;
}
